/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

mat-card {
    margin: 2em auto;
    text-align: center;
}

mat-form-field{
    width:100%;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}